<a href="https://colab.research.google.com/github/soaressc/evg_python/blob/main/evg_python_aula01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

AULA 1: VARIÁVEIS, OPERADORES E CONDIÇÕES

In [ ]:
# Examples of variable declarations
width = 10

# Notice the "H" is capitalized
Height = 5

area = 0

# storing a string
helloMessage = "Hello World!"
first_name = "John"

# storing a char
character_example = 'a'

# storing a float
_newFloat = 1.0

# storing a boolean value
bool_Condition = True

In [ ]:
type(Height)

int

In [ ]:
type(width)

int

In [ ]:
# Let's cast a float into an int and vice verse
# We will cast the type and the store it in a new variable
width_float = float(width)

type(width_float)

float

In [ ]:
# Cast between string and int
# Recall that width stores an int

# convert width to string
width_string = str(width)
type(width_string)

str

In [ ]:
# convert width_string back to an int
type(int(width_string))

int

In [ ]:
# Basic mathematical operations with Numbers

# Addition
print(5+23)

# Subtraction
print(100-25)

# Multiplication
print(5*10)

# Power/Exponent
# ** operator is equivalent to exponent
print(5**2)

# 5*5 = 5^2 = 5**2
print(5*5)

# Division (float)
# Return the actual decimal value of division
print(36/4)
print(10/3)

# Division (int)
# Return an int. If the actual quotient is a decimal value, only whole number is returned
print(10//3)
print(19//6)

# Modular Division: return the remainder of division
print(10%3)

28
75
50
25
25
9.0
3.3333333333333335
3
3
1

In [ ]:
# Operations with Strings and Characters
print("foo" * 5)
print('x'*3)

foofoofoofoofoo
xxx

In [ ]:
# ERROR: compiler treats x as a variable, not a character
print(x*3)

NameError: ignored

In [ ]:
# ERROR: cannot concatenate an int to a string --> need to cast int to string
print("hello" + 5)

TypeError: ignored

In [ ]:
# Fix
print("hello " + str(5))

hello 5

In [ ]:
# String addition = concatenation
print("hello " + "world")

hello world

Comparators: return boolean value

In [ ]:
# Comparators on Strings

print("hello" < "world")
print("hello" == "world")
print("hello" > "world")

print("hello" == "hello")

print("cat" < "dog")

True
False
False
True
True

In [ ]:
x = 7
y = 14


if (2*x == y):
  print("y is double of x")
elif (x**2 == y):
  print("y is the squared of x")
else:
  print("y is NOT double of x")

y is double of x

In [ ]:
x = 7
y = 49


if (2*x == y):
  print("y is double of x")
elif (x**2 == y):
  print("y is the squared of x")
else:
  print("y is NOT related to x")

y is the squared of x

In [ ]:
x = 7
y = 50


if (2*x == y):
  print("y is double of x")
elif (x**2 == y):
  print("y is the squared of x")
else:
  print("y is NOT double nor squared of x")

y is NOT double nor squared of x

Python does NOT have an implementation for the switch cases, but one way to implement the switch case is with the dictionary, a data structure that stores the key-value pair (Module 3).

The switch conditions are stored as keys in the dictionary, and actions stored as the value.
If there is a series of actions for each case, then consider writing a function for each case and use the function calls as the value.
The default condition is manually listed as a key-value in the get().

In [ ]:
def switcher(number):

  # dictionary (from Module 3) to store switch cases
  # If not found, then get() the default value
  return {
    '0':"Entered 0",
    '1':"Entered 1",
    '2':"Entered 2",
    '3':"Entered 3",
    '4':"Entered 4",
    '5':"Entered 5",
    '6':"Entered 6",
    '7':"Entered 7",
    '8':"Entered 8",
    '9':"Entered 9",
  }.get(number,"Invalid number!")


# input() reads in an user input from stdin
number = input("Dial a number: ")
switcher(number)

Dial a number: 11

'Invalid number!'

EXERCISE: implement the above switch case example using if/else conditions

Prompt: For each digit between 0-9, the program will print a confirmation
for the entered value or print "invalid inputs" for all other numbers.

In [ ]:
number = input("Entre com valor: ")
number = int(number)
if number not in range(0, 10): print("Valor inválido.")
else: print("Entrou", number)

Entre com valor: 11
Valor inválido.