<a href="https://colab.research.google.com/github/soaressc/evg_python/blob/main/evg_python_aula03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Estruturas de Dados



1.   Recognize the key characteristics of each structure. Correctly utilize each structure when appropriate and access the corresponding data stored on the structure.

In [ ]:
# Initiate an empty list
list1 = []
# OR
list1 = list()

# Initiate a list with elements
list2 = ['hello', 'hola', 'olá']

"""
Elements in list does NOT have to be the same type, but this is uncommon.
In this case, each list could represent the series of information about a person,
but you will need to remember what information is stored at each index. ---> There is a better option for this purpose - dictionary.
"""

list3 = ["John", "male", 20, False]

In [ ]:
# Accessing information stored in the list by position ("index")
# Note: in CS, first position is ALWAYS 0
print("Primeiro elemento é", list2[0])
print("O segundo elemento é", list2[1])

Primeiro elemento é hello
O segundo elemento é hola

In [ ]:
#entra com um novo elemento em posição específica
list2.insert(1, 'hallo')
list2[1]

'hallo'

In [ ]:
#entra com o novo elemento no final da lista
list2.append('bye')
list2

['hello', 'hallo', 'hola', 'olá', 'bye']

In [ ]:
#remove um elemento da lista
list2.remove('hello')
#list2 depois da remoção do 'hello'
list2

['hallo', 'hola', 'olá', 'bye']

In [ ]:
#outra forma de remover elemento da lista

list2.append("hello")

#pop remove de acordo com a posição
list2.pop(0)

list2

['olá', 'hello', 'hello', 'hola']

In [ ]:
#forma de organizar alfabeticamente objetos da lista

list2.sort()
list2

['hello', 'hello', 'hola', 'olá']

In [ ]:
#verificar o tamanho da lista (até aquela linha de código, visto que é a lista é dinâmica). note que é necessário transformar o resultado, que é int, em string

print("tamanho da list1 = " + str(len(list1)))
print("tamanho da list2 = " + str(len(list2)))

tamanho da list1 = 0
tamanho da list2 = 4

In [ ]:
#imprimir os itens de uma lista separando por ,

", ".join(list2)

'bye, hallo, hola, olá'

In [ ]:
#listar listas

lists = []
lists.append([1, 2, 3])
lists.append(["a", "b", "c"])
lists

[[1, 2, 3], ['a', 'b', 'c']]

In [ ]:
print(lists[1])
print(lists[1][0])

['a', 'b', 'c']
a

In [ ]:
#inicializa tupla vazia
y = tuple()
y

#cria tupla de elementos
x = (1, 2, 3)

In [ ]:
x.append(4)

AttributeError: ignored

In [ ]:
#isso pode porque não modifica x, apenas adiciona ao final da tupla nessa linha
print(x + (4, 5, 6))
print(x)

(1, 2, 3, 4, 5, 6)
(1, 2, 3)

In [ ]:
#criar uma nova tupla com x aparecendo duas vezes

x * 2

(1, 2, 3, 1, 2, 3)

In [ ]:
#índice do elemento na tupla

x.index(3)

2

In [ ]:
#atalho para (a,b,c) = (1,2,3)
#ou ainda a = 1, b = 2, c = 3

a,b,c = 1,2,3
print(a)
print(b)
print(c)

1
2
3

In [ ]:
#converter lista em tupla

x = [1,2,3,4]
tuple(x)

(1, 2, 3, 4)

In [ ]:
#declarar uma tupla chamada "pessoa"
pessoa = ('Soraya', 'Costa', 30)

#"pack"/associar cada elemento da tupla com uma label. Note a ordem das labels
nome, sobrenome, idade = pessoa

In [ ]:
print(nome + " " + sobrenome)
print(sobrenome)
print(idade)

Soraya Costa
Costa
30

In [ ]:
#ERRO: x é uma tupla com 4 valores mas se tenta unpack 3 elementos da tupla (mismatch no tamanho da tupla)
x = (1,2,3,4)
a,b,c = x

ValueError: ignored

In [ ]:
x = [1,2,3,4]
a,b,c,d = x
print(a)
print(b)
print(c)
print(d)

1
2
3
4

In [ ]:
#Conjunto: uma estrutura de dados mutável que armazena objetos não duplicados
#e imutáveis e organiza os elementos em ordem crescente (cada elemento e único)
newSet = set()
newSet

set()

In [ ]:
#Um conjunto com elementos
ex1 = {1, 2, 2, 1, 1}
ex1

{1, 2}

In [ ]:
ex2 = {j for j in range(10)}
ex2

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
#append() não está definido para conjunto, se usa add()
#add() vai inserir na ordem correta
ex2.add(2)
ex2.add(100)
ex2.add(50)
ex2

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 50, 100}

In [ ]:
#elementos mutáveis não podem ser inseridos no conjunto
d_set = {[1,2,3]}
d_set

TypeError: ignored

In [ ]:
#converter lista para conjunto
ages = [10, 5, 4, 2, 1, 5]
set_of_ages = set(ages)
set_of_ages

{1, 2, 4, 5, 10}

In [ ]:
#converter conjunto para lista
list_of_ages = list(set_of_ages)
set_of_ages

{1, 2, 4, 5, 10}

In [ ]:
#converter conjunto para uma tupla
tuple_of_ages = tuple(list_of_ages)
tuple_of_ages

(1, 2, 4, 5, 10)

In [ ]:
#ordem é irrelevante em comparação de conjuntos
{1,2,3} == {2,1,3}

True

Dicionário

Estrutura que armazera valores-chave em pares, nos quais as chaves DEVEM ser objetos imutáveis

In [ ]:
#iniciar um dicionário vazio
dict = {}

#declarar um dicionário com chave/valor
dict2 = {'a':5, 'b': 10, 'c': 100, 'd': 9.5}

In [ ]:
#acessando dados no dicionário com uma chave
dict2['b']

10

In [ ]:
#atualizar o valor de uma chave existente
dict2['b'] = 50
dict2['b']

50

In [ ]:
# What happens if we want to access the value for a non-existing key? (e.g. 'z')

# We might expect an ERROR because this key doesn't exist, so it doesn't have a value.
# That is a correct assumption.
dict2['z']

KeyError: ignored

In [ ]:
# But if what if we do this, will this still return an ERROR?
dict2['z'] = 999

dict2['z']

999

WHY??

The previous block of code works because we "update" the value of the key first, update = insert (in this case), and by the time we want to access the value of this key, this key already exists in the dictionary for the assigned mapping.

In [ ]:
#valores no dicionário podem ter tipos mistos

dict["greeting"] = "hello message"
dict["alphabet"] = ['a', 'b', 'c', 'c', 'e']
dict["check-in"] = False
dict["phoneNumber"] = 8007782346

dict

{'greeting': 'hello message',
 'alphabet': ['a', 'b', 'c', 'c', 'e'],
 'check-in': False,
 'phoneNumber': 8007782346}

In [ ]:
# IMPORTANT Note: key must be immutatble objects (something that cannot be changed)
# String is immutable, because you could not just delete a character in a string. A string is a string, the way it is.

# From above, we see that a list can be a value in the dictionary.
# What happen when we try to make it a key?

# ERROR: unhashable type of list

# Because we could modify the list by inserting new element, sorting elements,
#deleting elements, or other ways of modifying it, it CANNOT be a key

dict[['a','b', 'c']] = [False, True, False]

TypeError: ignored

In [ ]:
#Lembrando que a chave precisa ser imutável, portanto:
# But since tuple is immutatble, we could replace the list with a tuple
dict[('a','b', 'c')] = [False, True, False]

dict

{'greeting': 'hello message',
 'alphabet': ['a', 'b', 'c', 'c', 'e'],
 'check-in': False,
 'phoneNumber': 8007782346,
 ('a', 'b', 'c'): [False, True, False]}

In [ ]:
#chaves
dict.keys()

dict_keys(['greeting', 'alphabet', 'check-in', 'phoneNumber', ('a', 'b', 'c')])

In [ ]:
#valores das chaves
dict.values()

dict_values(['hello message', ['a', 'b', 'c', 'c', 'e'], False, 8007782346, [False, True, False]])

In [ ]:
#elementos retornados como pares
dict.items()

dict_items([('greeting', 'hello message'), ('alphabet', ['a', 'b', 'c', 'c', 'e']), ('check-in', False), ('phoneNumber', 8007782346), (('a', 'b', 'c'), [False, True, False])])